.sticker{
    position: absolute;
    top: 0px;
    right: 0px;
   
}

.card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 900px;
}

.name{
    margin-top: 10%;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 3px solid black;
    width: 100%;
}

.cardElement{
    margin-top: 3%;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 3px solid black;
    width: 100%;
}

.done{
    margin: auto;
}